/* ------------------------------------------------- */
/*                By Code Explained                  */
/*          www.youtube.com/Code Explained           */
/* ------------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
    background-color: #636363;
}

.calculator{
    max-width: 600px;
    position: relative;
    margin: auto;
}

.calculator h1 {
    font-size: clamp(20px, 5vw, 30px);
}

.calc-container{
    background-color: #1d1d1d;
    max-width: 600px;
    height: auto;
    border-radius: 25px;
}

.output{
    width: 100%;
    background: #000;
}   

.operation{
    max-width: 600px;
    height: 70px;

    color: #878787;

    font-size: 1.9em;
    font-weight: bold;

    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;

    bottom: 5px;
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}

.result{
    max-width: 600px;
    height: 140px;

    color: #FFF;

    font-size: 2.6em;
    font-weight: bold;
    
    overflow: hidden;
    position: relative;
}

.result .value{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}


.input{
    background-color: #8ea8b36e;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -ms-border-radius: 0 0 25px 25px;
    -o-border-radius: 0 0 25px 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    width: 95px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    border-radius: 10%;
    background-color: transparent;
    padding: 2px;
    margin: 8px 5px;
    border: 1px solid #1d1d1d;
    color: #5ea7d4;
    cursor: pointer;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    background-image: linear-gradient(45deg,rgb(35, 35, 35),rgb(23, 23, 23),black);
    border-top: 2px solid rgb(71, 70, 70);
    border-right: 2px solid rgb(28, 28, 28);
}

.row button:hover{
    font-weight: 900;
    /* background: linear-gradient(to left, #171110, #352d28); */
    /* color: #FFF; */
    box-shadow: 2px 2px 0px rgb(0, 0, 0),
    inset 5px 5px 10px rgb(0, 0, 0),
    2px -1px 4px rgb(0, 0, 0) ,
    inset -1px 2px 4px rgb(0, 0, 0),
    3px 3px 4px rgb(3, 3, 3);
}

.row #calculate{
    color: #FFF;
    background-color: #46e0bc;
    width : clamp(120px, 100vw, 210px);
    border-radius: 50px;
}
.row #delete{
    color: #FFF;
    background-color: #e05046;
}

#division, #multiplication, #subtraction, #addition {
    color: #18b893;
}

.row button.numbers {
    color: #f5faf9;
}

.input button span{
    font-size: 0.6em;
    position: absolute;
}

.active-angle{
    background-color: #1d1d1d !important;
    color: #FFF !important;
    border-radius: 10px !important;
}


.calcno{
    width: 20px;
    height: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin:5px;
    text-align: center;
    /* background-color: #3b969f; */
    /* background-image: linear-gradient( #24646a, #b9e5e9); */
    border-radius: 5%;
    /* border: 1px solid rgb(7, 7, 7); */
    border-top: 2px solid rgb(71, 70, 70);
    border-right: 2px solid rgb(28, 28, 28);


    background-image: linear-gradient(45deg,rgb(35, 35, 35),rgb(23, 23, 23),black);
 

    box-shadow: 3px -2px 5px rgb(8, 8, 8),
    inset -2px 2px 3px rgb(0, 0, 0),
    2px -1px 4px rgb(0, 0, 0) ,
    inset -5px 2px 4px rgb(26, 26, 26),
    -8px 8px 10px rgb(0, 0, 0);

}
.calcno:hover{
    border-top:0px solid rgb(6, 6, 6);
    border-right: 0px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 0px rgb(0, 0, 0),
    inset 5px 5px 10px rgb(0, 0, 0),
    2px -1px 4px rgb(0, 0, 0) ,
    inset -1px 2px 4px rgb(0, 0, 0),
    3px 3px 4px rgb(3, 3, 3);
    color:rgb(96, 96, 96);
    font-size: small;

    text-align: center;
}

@media (max-width: 467px) {
    .row button{
        font-size: 0.8em;
    }
}